
.skills{
    display: flex;
    justify-content: center;
    height: 90vh;
    opacity: 0.8;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}