.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}


.image {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}

.contant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contant p {
  font-weight: 600;
}

.text_P2{
   font-size: 1.75rem;
   margin-bottom: 1rem;
}

.title{
  font-size: 3rem;  
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


.buttons button{
  width: 8rem;
  padding: 1rem;
  border-radius: 2rem;
  transition: all 300ms ease;
  font-weight: 600;
  cursor: pointer;

}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.button2, 
.button1:hover{
  background-color: rgb(53, 53, 53);
  color: white;
}


.button2:hover{
  background-color: black;
}

.socialMedia{
  display: flex;
  scale: 0.8;
  gap: 1rem;
}

.upwork{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  height: 100px;
  gap: 1.5rem;
}

.upworkImage{
  width: 90px;
  border-radius: 2rem;
  padding: 10px 22px;
  border: 1px solid rgb(53, 53, 53);
  position:center;
}

.upworkImage:hover{
  background-color: rgb(70, 69, 69);
}



.techSTack {
  gap: 20px;
  display: flex;
  margin-top: 100px;
  cursor: pointer;
}

.techSTack img:hover {
  scale: 1.2;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.Arrow{
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 2rem;
}


@media (max-width: 900px){

  .con{
    margin-top: 3rem;
    flex-direction: column;
  }
}

@media (max-width: 500px){
 
  .image{
    height: 250px;
    width: 250px;
  }

  .Arrow{
    display: none;
  }


}

@media (max-width: 400px){
   .title{
    font-size: 2rem;
   }

   .text_P2{
    font-size: 1.5rem;
   }
}

