.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    font-weight: 500;

}


.logo {
    align-items: center;
    display: flex;
    width: 30%;
}


.logo img {
    height: 150px;
    margin-left: 50px;
}

.navlist {
    width: 60%;

}


.navlist ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    font-size: 20px;

}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}