*{
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


body{
  font-family: "Poppins";
}

p {
  color: rgb(85, 85, 85);
}

html{
  scroll-behavior: smooth;
}

h1{
  font-size: 3rem;
}